@import '../../assets/style/theme.scss';
.container{
    overflow: auto;
}
.content{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    // height: 100%;
    li{
        padding: .20rem; 
        width: 100%;
        list-style: none;
        display: flex;  
        .cont-left{
            width: 20%;
            img{
                width: .64rem;
                height: .9rem;
            }
        } 
        .cont-rig{
            display: flex;
            flex-direction: column;
            padding: .05rem;
            width: 60%;
            p{
                margin: 0;
                font-size: 17px;
                color:#333;
                font-weight: bold;
                text-align: left;
                margin-bottom: .07rem;
            }
            .audis{
                font-size: 13px;
                text-align: left;
                color: #666;
                .score{
                    color: #faaf00;
                    font-weight: bold;
                    font-style: normal;
                    text-align: left;
                }
            }
            .main-star{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: .06rem;
                font-size:.13rem;
                text-align: left;
            }
            .cinema{
                font-size: .13rem;
                 text-align: left;
            }
        }
        .btn-box{
            display: flex;
            .btn{
                width: .47rem;
                height: .27rem;
                outline: none;
                border: none;
                font-size: .13rem;

                color: white;
                background-color: $theme;
                border-radius: .04rem;
                align-self: center;
            }
        }
    }
}
.show{
    display: block !important;
}
.hide{
    display: none !important;
}